body {
    margin: 0;
}

.headers {
    display: flex;
    background-color: #1F2937;
    color: white;
    height: 180px;
    justify-content: space-between;
    font-size: 24px;
    padding-top: 10px;
}

.HeaderLogo {
    padding-left: 125px;
    padding-top: 20px;
    height: 150px;
    width: auto;
}

.headerlinks {
    display: flex;
    gap: 15px;
    margin-right: 50px;
    padding-top: 20px;
}

.title1 {
    display: flex;
    background-color: #1F2937;
    height: 250px;
    text-align: left;
    padding: 125px;
    font-size: 30px;
}

.title1left {
    flex: 1;
    color: white;
    font-size: 18px;
}


.SignUpButton {
    width: 100px;
    height: 35px;
    background-color: #3882F6;
    color: white;
}

.Stu {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.Stu img {
    height: 125%;
    width: auto;

}

.middlePart {
    height: 400px;
    background-color: white;
    text-align: center;
    align-content: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 17px;
}

.infos {
    font-size: 22px;
}

.ThirdPart {
    height: 400px;
    text-align: center;
    background-color: #E5E7EB;
    font-size: 36px;
    align-content: center;
}

.Zitat {
    font-size: 36px;
}

.Autor {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
}

.FourthPart {
    height: 400px;
    padding: 25px 1000px;
    align-content: center;

}

.flexContainer {
    display: flex;
    background-color: #3882F6;
    padding: 35px 100px;
    align-content: center;
    border-radius: 10px;
    font-size: 14px;
    color: white;
    justify-content: space-between;
    align-items: center;

}

.first {
    justify-content: space-between;

}

.ButtonForth {
    height: 35px;
    width: 100px;
    border-color: white;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    align-self: flex-end;
    cursor: pointer;

}


.Footer {
    height: 100px;
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;
}

.TextFooter {
    align-content: center;
}

img {
    width: 200px;
    height: 200px;
}

a {
    text-decoration: none;
    color: white;
}


